data-input/CR-prezidentske-2023/pe_vysledky_okrsky.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.3.780 (http://www.liquid-technologies.com)-->
<schema xmlns:ps="http://www.volby.cz/prezident/" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.volby.cz/prezident/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<element name="VYSLEDKY_OKRSKY">
		<annotation>
			<documentation>Výsledky volby prezidenta ČR - volební okrsky</documentation>
		</annotation>
		<complexType>
			<choice>
				<sequence>
					<element ref="ps:CHYBA">
						<annotation>
							<documentation>Informace o chybě při získávání výsledků (neexistující dávka)</documentation>
						</annotation>
					</element>
				</sequence>
				<sequence>
					<element ref="ps:DAVKA"/>
					<element ref="ps:OKRSEK" maxOccurs="unbounded">
						<annotation>
							<documentation>Výsledky za okrsky</documentation>
						</annotation>
					</element>
				</sequence>
			</choice>
			<attribute name="DATUM_CAS_GENEROVANI" type="dateTime" use="required"/>
		</complexType>
	</element>
	<element name="OKRSEK">
		<annotation>
			<documentation>Výsledky za volební okrsek</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="ps:UCAST_OKRSEK"/>
				<element ref="ps:HLASY_OKRSEK" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="CIS_OBEC" use="required">
				<simpleType>
					<restriction base="decimal"/>
				</simpleType>
			</attribute>
			<attribute name="CIS_OKRSEK" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="5"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="PORADI_ZPRAC" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="8"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="DATUM_CAS_ZPRAC" type="dateTime" use="required"/>
			<attribute name="OPAKOVANE" type="boolean" use="required"/>
		</complexType>
	</element>
	<element name="UCAST_OKRSEK">
		<annotation>
			<documentation>Volební účast ve volebním okrsku</documentation>
		</annotation>
		<complexType>
			<attribute name="ZAPSANI_VOLICI" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="8"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="VYDANE_OBALKY" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="8"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="ODEVZDANE_OBALKY" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="8"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="PLATNE_HLASY" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="8"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name="HLASY_OKRSEK">
		<annotation>
			<documentation>Výsledky za kandidáty ve volebním okrsku</documentation>
		</annotation>
		<complexType>
      <attribute name="PORADOVE_CISLO" use="required">
        <simpleType>
          <restriction base="decimal">
            <minInclusive value="1" />
            <maxInclusive value="20" />
          </restriction>
        </simpleType>
      </attribute>
			<attribute name="HLASY" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="9"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name="CHYBA">
		<annotation>
			<documentation>Informace o chybě při získávání výsledků</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="KOD_CHYBY" use="required">
						<simpleType>
							<restriction base="decimal">
								<totalDigits value="4"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="DAVKA">
		<annotation>
			<documentation>Informace o dávce dat</documentation>
		</annotation>
		<complexType>
      <attribute name="KOLO" use="required">
        <simpleType>
          <restriction base="int">
            <enumeration value="1" />
            <enumeration value="2" />
          </restriction>
        </simpleType>
      </attribute>
			<attribute name="PORADI_DAVKY" use="required">
				<simpleType>
					<restriction base="decimal">
						<minInclusive value="1"/>
						<totalDigits value="5"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="OKRSKY_DAVKA" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="5"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="OKRSKY_CELKEM" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="5"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="OKRSKY_ZPRAC" use="required">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="5"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
</schema>
